/* Modal Styling */
.modal {
   
    background-color: #e99696;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
    margin: 50px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 50%;
}

.modal h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.modal h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #555;
}

/* Form Styling */
.form-textarea {
   
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    resize: none;
    transition: border-color 0.3s;
}

.form-textarea:focus {
    border-color: #007bff;
    outline: none;
}

.form-input {
    /* To accommodate the remove button */
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

.form-input:focus {
    border-color: #007bff;
    outline: none;
}

/* Policy Container */
.policy-container {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.policy-container textarea {
    flex: 1;
}

/* Buttons */
.btn {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.remove-btn {
    background-color: #dc3545;
}

.remove-btn:hover {
    background-color: #c82333;
}

.cancel-btn {
    background-color: #6c757d;
}

.cancel-btn:hover {
    background-color: #5a6268;
}

/* Add and Save Button Section */
.mt-3 {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
